
#main-grid {
    width: fit-content;
    display: grid;
}
#win-indicator {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
#reset-button {
    align-self: center;
    margin: auto;
    padding: 2px;
}
#ttt-table {
    border-collapse: collapse;
    border-style: hidden;
    margin-block: 5px;
    user-select: none;
}
.game-cell {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    text-align: center;
    font-family: sans-serif;
    border: 2px solid black;
    content: "asda";
}